
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	
	--Roboto: 'Roboto', sans-serif;
	--light: #FFF;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FFF;
}

body {
	font-family: var(--Roboto);
	background: var(--light);
	overflow-x: hidden;
}


/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 220px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--Roboto);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
   
    border-right: 2px solid #e9e9e9;
}
#sidebar .brand {
    font-size: 24px;
    font-weight: 400;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--orange);
}
#sidebar .brand .fa-solid{
    min-width: 60px;
    display: flex;
    justify-content: center;
    color: var(--dark);
    
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 30px;

} 

#sidebar .side-menu li {
    height: 55px;
    background: var(--light) ;
    margin-left: 0px;
    border-radius: 48px 0 0 48px;
    padding: 0px;
} 
#sidebar .side-menu li a:hover{
  
  background-color: var(--yellow); 
  border: none;
  color: var(--dark);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
 } 
#sidebar .side-menu li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    padding: 4px;
	color:var(--dark)
} 

#sidebar .side-menu li i {
    padding: 20px;
} 
#sidebar .side-menu .bottom {
margin-top: 100px;

}

/* SIDEBAR */


/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 245px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* CONTENT*/

/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	display: flex;
	align-items: center;
	grid-gap: 0px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
    
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font: var(--Roboto);
	font-size: 24px;
	

}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}


#content nav .profile img {
	width: 34px;
	height: 34px;
	object-fit: cover;
	border-radius: 50%;
	border: solid #f1f1f1;
}
#content nav .profile {
	font-weight: 100;
    text-align: center;
	padding-left: 800px;
   
}



#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
#content nav .nav-user {
	font-size: 12px;
	transition: .3s ease;
	font: var(--Roboto);
}

 

/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--Roboto);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
	
	
}

#content main .box-info li {
  border: 2px solid var(--grey);
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;

	
}

#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
	text-align: center;
}
#content main .box-info li .text p {
	color: var(--dark-grey);
	text-align: center;	
	padding-bottom: 15px;
}
#content div.table-data table{
	display: grid;
	justify-content: start;
	margin-left: 25px;


}
#customers tbody{
	border: solid 2px #ddd;
    color: #333;
    padding: 20px;
	color:#7a7a7a;	
	border-radius: 5px;


}

#customers td, #customers th {
	font-family: var(--Roboto);
	font-size: 12px;
	border-bottom: 2px solid #ddd;
	padding:10px ;
	
  }

/* ==== GRID SYSTEM ==== */

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  }
  
  .row {
	position: relative;
	width: 100%;
  }
  
  .row [class^="col"] {
	float: left;
	margin: 0.5rem 2%;
	min-height: 0.125rem;
  }
  
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
	width: 96%;
  }
  
  .col-1-sm {
	width: 4.33%;
  }
  
  .col-2-sm {
	width: 12.66%;
  }
  
  .col-3-sm {
	width: 21%;
  }
  
  .col-4-sm {
	width: 29.33%;
  }
  
  .col-5-sm {
	width: 37.66%;
  }
  
  .col-6-sm {
	width: 46%;
  }
  
  .col-7-sm {
	width: 54.33%;
  }
  
  .col-8-sm {
	width: 62.66%;
  }
  
  .col-9-sm {
	width: 71%;
  }
  
  .col-10-sm {
	width: 79.33%;
  }
  
  .col-11-sm {
	width: 87.66%;
  }
  
  .col-12-sm {
	width: 96%;
  }
  
  .row::after {
	  content: "";
	  display: table;
	  clear: both;
  }
  
  .hidden-sm {
	display: none;
  }
  
  @media only screen and (min-width: 33.75em) {  /* 540px */
	.container {
	  width: 80%;
	}
  }
  
  @media only screen and (min-width: 45em) {  /* 720px */
	.col-1 {
	  width: 4.33%;
	}
  
	.col-2 {
	  width: 12.66%;
	}
  
	.col-3 {
	  width: 21%;
	}
  
	.col-4 {
	  width: 29.33%;
	}
  
	.col-5 {
	  width: 37.66%;
	}
  
	.col-6 {
	  width: 46%;
	}
  
	.col-7 {
	  width: 54.33%;
	}
  
	.col-8 {
	  width: 62.66%;
	}
  
	.col-9 {
	  width: 71%;
	}
  
	.col-10 {
	  width: 79.33%;
	}
  
	.col-11 {
	  width: 87.66%;
	}
  
	.col-12 {
	  width: 96%;
	}
  
	.hidden-sm {
	  display: block;
	}
  }
  
  @media only screen and (min-width: 60em) { /* 960px */
	.container {
	  width: 75%;
	  max-width: 60rem;
	}
  }

.data-title {
display: block;
border: 2px solid #ddd;
padding:20px;
border-radius: 5px;


  }
  .data-table ul {
	list-style-type: none;
	padding: 0;
}
.data-table li {
	display: inline-block;
	width: 30%;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}
.data-table li a {
	text-decoration: none;
	color: #333;
}
.data-table li:nth-child(3n+3) {
	width: 10%;
}
.data-table th, .data-table td {
	border: 1px solid #ddd;
	padding: 8px;
}
.data-table th {
	background-color: #f2f2f2;
	text-align: left;
}
.data-table tr:nth-child(even) {
	background-color: #f9f9f9;
}
.data-table tr:hover {
	background-color: #f1f1f1;
}
#user {

	border-collapse: collapse;
	width: 100%;
	margin-top: 60px;
  }
  
  #user td, #user th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #user tr:nth-child(even){background-color: #f2f2f2;}
  

  
  #user th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ffa928;
	color: white;
  }
  .action-buttons {
	display: flex;
	gap: 5px;
}
.update-button {
	background-color: #4CAF50;
	color: white;
}
.delete-button {
	background-color: #f44336;
	color: white;
}
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(236, 236, 236, 0.4); 
}
.modal-content {
	background-color: #fefefe;
	margin: 10% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 50%; 
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

form .form-group {
    margin-bottom: 1em;
}

form label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
	margin-bottom: 5px;

}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form select,
form textarea {
    border: 1px solid #ccc;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
	margin-bottom: 5px;

}

form button {
    padding: 0.7em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-bottom: 5px;

}

form button:hover {
    background-color: #0056b3;
}
